<!DOCTYPE html>
<html>
    <head>
        <title>KickUp Soccer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Add base html here. -->
        <div id="content">
            <nav>
                <a href="/">Home</a>
                <div>
                    <a href="/create_team">Create Team</a>
                    <a href="/create_user">Create Profile</a>
                    <a href="/create_game">Setup a Game</a>
                    <a href="/logout">Log Out</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>
                </div>
            </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>
