{% extends 'base.html' %}

{% block content %}

<h1>{{ game.name }}</h1>

<section>
  <p><strong>Location: </strong>{{ game.location }}</p>
  <p><strong>Date: </strong>{{ game.date.strftime('%b, %d, %Y') }}</p>
  <p><strong>Time: </strong>{{ game.time.strftime('%I:%M %p') }}</p>

  <p><strong>Home Team: </strong><a href="/team-details/{{game.home_team.id}}">{{ game.home_team.team_name }}</a></p>
  <p><strong>Away Team: </strong><a href="/team-details/{{game.away_team.id}}">{{ game.away_team.team_name }}</a></p>

</section>

{% endblock %}
