{% extends 'index.html' %}

{% block content %}

<h1>{{ game.name }}</h1>

<section>
  <p><strong>Location: </strong>{{ game.location }}</p>
  <p><strong>Date: </strong>{{ game.date.strftime('%b, %d, %Y') }}</p>
  <p><strong>Time: </strong>{{ game.time.strftime('%I:%M %p') }}</p>

  <p><strong>Home Team: </strong><a href="/team-details/{{game.home_team.id}}">{{ game.home_team.team_name }}</a></p>
  <p><strong>Away Team: </strong><a href="/team-details/{{game.away_team.id}}">{{ game.away_team.team_name }}</a></p>

</section>

<form action="/game-details/{{ game.id }}" method="POST">
  {{ form.csrf_token }}
  <fieldset>
      <legend>Update Game Information:</legend>
      {{ form.name.label }}
      {{ form.name }}
      <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

      <ul>
      {% for error in form.location.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.location.label }}
      {{ form.location }}
      <ul>
      {% for error in form.location.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.date.label }}
      {{ form.date }}
      <ul>
      {% for error in form.time.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.time.label }}
      {{ form.time }}
      <ul>
      {% for error in form.time.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.home_team.label }}
      {{ form.home_team }}
      <ul>
      {% for error in form.home_team.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.away_team.label }}
      {{ form.away_team }}
      <ul>
      {% for error in form.away_team.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>

      {{ form.submit }}

  </fieldset>
</form>
{% if current_user.team == game.home_team or current_user.team == game.away_team %}
  <button><a href="/delete-game/{{game.id}}">Delete Game</a></button>
{% endif %}

{% endblock %}
