{% extends 'index.html' %}

{% block content %}
<img class="homepage-image w-screen h-screen opacity-50" src="https://images.unsplash.com/photo-1516731566880-919c39006c9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="soccer field background"/> 

<!-- <h1 class="text-xl">Homepage</h1> -->
<div class="homepage-style">
  <section class="flex justify-evenly items-center h-screen">
    <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-96 h-96 rounded-tl-3xl bg-black opacity-80 drop-shadow-xl">
      {% if current_user.is_authenticated %}
      <h2 class="font-serif text-3xl m-4">{{current_user.username}}</h2>  
      <img src="{{current_user.profile_picture}}" alt="user profile picture">
      <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50 m-4" href="/profile/{{current_user.username}}">View Profile</a>
    </section>
    <section class="grid grid-cols-1 grid-rows-3 gap-6">
      <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-36 h-28 rounded-br-3xl bg-black opacity-80 drop-shadow-xl">
        <h2 class="font-serif text-2xl m-2">Teams</h2>
        <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50" href="/teams">View Teams</a>
      </section>
      <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-36 h-28 rounded-br-3xl bg-black opacity-80 drop-shadow-xl">
        <h2 class="font-serif text-2xl m-2">Games</h2>
        <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50" href="/games">View Games</a>
      </section>
      <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-36 h-28 rounded-br-3xl bg-black opacity-80 drop-shadow-xl">
        <h2 class="font-serif text-2xl m-2">Players</h2>
        <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50" href="/players">View Players</a>
      </section>
    </section>
  </section>
    {% else %}
    <img class="header-image w-screen h-screen" src="https://i.pinimg.com/originals/30/28/79/302879c6f08ecd109011a3e13f4f81e3.jpg" alt="photo of soccer player legs"/>
    <section class="flex justify-evenly h-screen items-center">
      <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-96 h-96 rounded-tl-3xl bg-black opacity-80 drop-shadow-xl">
        <h2 class="text-3xl m-2">New?</h2>
        <img src="https://images.pexels.com/photos/7271269/pexels-photo-7271269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="photo of player putting on cleats">
        <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50 m-4" href="/signup">Sign Up</a>
      </section>
      <section class="flex flex-col items-center justify-center border-solid border-4 border-white w-96 h-96 rounded-br-3xl bg-black opacity-80 drop-shadow-xl">
        <h2 class="text-3xl m-2">Game On!</h2>
        <img src="https://images.pexels.com/photos/10923070/pexels-photo-10923070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="photo of players foot on ball"/>
        <a class="font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50 m-4" href="/login">Login</a>
      </section>
    </section>
    {% endif %}
</div>


{% endblock %}
