{% extends 'base.html' %}

{% block content %}

<h1>Homepage test</h1>
<div class="homepage-style">
  <section class="user-create">
    <h2>Users</h2>  
    <a href="#">Create/Edit Profile</a>
  </section>
  <div class="team-game-create">
    <section class="team-create">
      <h2>Teams</h2>
      <a href="#">Create/Edit Team</a>
    </section>
    <section class="game-create">
      <h2>Games</h2>
      <a href="#">Create/Edit Game</a>
    </section>
    <section class="view-users">
      <h2>Players</h2>
      <a href="/players">View Players</a>
    </section>
  </div>
</div>


{% endblock %}
