{% extends 'index.html' %}

{% block content %}

<h1 class="text-xl">Homepage</h1>
<div class="homepage-style">
  <section class="user-create">
    {% if current_user.is_authenticated %}
    <h2>Users</h2>  
    <a href="/profile/{{current_user.username}}">View Profile</a>
  </section>
  <div class="team-game-create">
    <section class="team-create">
      <h2>Teams</h2>
      <a href="/teams">View Teams</a>
    </section>
    <section class="game-create">
      <h2>Games</h2>
      <a href="/games">View Games</a>
    </section>
    <section class="view-users">
      <h2>Players</h2>
      <a href="/players">View Players</a>
    {% else %}
      <a href="/signup">Sign Up</a>
      <h2>Already have an account?</h2>
      <a href="/login">Login</a>
    {% endif %}
    </section>
  </div>
</div>


{% endblock %}
