<!DOCTYPE html>
<html>
    <head>
        <title>KickUp Soccer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-black text-white">
        <!-- Add base html here. -->
        <div id="content">
            <nav>
                <div class="flex justify-evenly">
                    {% if current_user.is_authenticated %}
                    <a class="text-xl" href="/">Home</a>
                    <a class="text-xl" href="/profile/{{current_user.username}}">Profile</a>
                    <a class="text-xl" href="/create-team">Create Team</a>
                    <a class="text-xl" href="/create-game">Setup a Game</a>
                    <a class="text-xl" href="/logout">Log Out</a>
                    {% else %}
                    <a class="text-xl" href="/">Home</a>
                    <a class="text-xl" href="/signup">Signup</a>
                    <a class="text-xl" href="/login">Login</a>
                    {% endif %}
                </div>
            </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>
