{% extends 'index.html' %}

{% block content %}


<img class="background-image w-screen h-screen" src="https://cloudfront-us-east-1.images.arcpublishing.com/ajc/RPFVIGRMOHCMPVRQOH52LEV2WE.jpg" alt="pele bicycle kick">
<h1>Login Page</h1>

<section class="flex justify-center items-center h-screen">
    <form class="font-serif m-8 text-black flex flex-col items-center justify-center border-solid border-4 border-white w-96 h-96 rounded-tl-3xl bg-black opacity-90 drop-shadow-xl" action="/login" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend class="font-serif text-white text-3xl absolite inset-x-0 top-0 h-16">Enter your credentials</legend>
            
            <p class="text-white">{{ form.username.label }}</p>
            <p class="text-2xl mb-4">{{ form.username }}</p>
            <ul>
            {% for error in form.username.errors %}
                <li class="error text-white">{{ error }}</li>
            {% endfor %}
            </ul>
        
            <p class="text-white">{{ form.password.label }}</p>
            <p class="text-2xl">{{ form.password }}</p>
            <ul>
            {% for error in form.password.errors %}
                <li class="error text-white">{{ error }}</li>
            {% endfor %}
            </ul>
        
            <p class="flex justify-center font-serif border-solid border-8 border-white bg-white text-black hover:opacity-50 w-auto mt-8">{{ form.submit }}</p>
        </fieldset>
        </form>
</section>

{% endblock %}
