{% extends 'index.html' %}

{% block content %}

<h1>{{ user.username }}</h1>
<h2><strong>Position: </strong>{{ user.position }}</h2>

<section>
  <img src="{{user.profile_picture}}" width="250" height="250"/>
  <p><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
  <p><strong>Birthday: </strong>{{ user.birth_date.strftime('%b, %d, %Y') }}</p>
  <p><strong>Current Team: </strong>
    {% if not user.team %}
      None
    {% else %}
      {{ user.team }}
    {% endif %}
  </p>
  {% if current_user.id == user.id %}
  <button><a href="/profile/{{user.username}}/settings">Settings</a></button>
  {% endif %}
</section>

{% endblock %}
