/* Add styles here. */
div.homepage-style {
  display: 'flex';
}

.hi {
  background-color: red;
}

.header-image {
  position: absolute;
  z-index: -1;
  animation-name: fade-in;
  animation-duration: 10s;
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.background-image {
  position: absolute;
  z-index: -1;
}

.homepage-image {
  position: absolute;
  z-index: -1;
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.5;
  }
}
